<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>

<br>
<form action="/" method="POST">
	<h3>Enter Your Name:</h3>
	<input type="text" name="authorname">
	<br>
	<h3>Enter Your Age:</h3>
	<input type="number" name="authorage">
	<br>
	<h3>Enter Your Message:</h3>
	<input type="text" name="authormessage">
	<br>
	<input type="submit" name="Submit">
</form>
</body>
</html>